@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Oswald:wght@200&display=swap');

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* -----------------------Header */

.offset:before {
    display: block;
    content: "";
    height: 6rem;
}
.navbar {
    overflow: hidden;
    position: fixed;
    width: 100%;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2rem;
    background: rgba(0, 0, 0, 0.6) !important;
    padding: 20px 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    padding-left: 20px;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color: #1ebba3;
}

.heading-content {
    position: absolute;
    top: 30%;
    width: 100%;
    max-width: 100%;
}

.heading-content h5 {
    font-size: 4em;
    font-weight: 300;
    color: #000000;
}

.heading-content h1 {
    font-size: 5em;
    font-weight: bolder;
    color: #000000;
}

.heading-content p {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: lighter;
    color: #000000;
    word-spacing: 5px;
    letter-spacing: 2px;
}

/* -----------------------About Styles */

.about-text-button {
    width: 120px;
    height: 40px;
    color: #ffffff;
    outline: none;
    border: none;
    background-color: #262525;
}

#about .btn {
    border: 2px solid transparent;
    width: 40%;
    padding: 15px 22px;
    background: #000000;
    border-radius: 5px;
    margin-top: 10px;
}

#about .btn a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

#about .btn:hover{
    border: 2px solid #1ebba3;
    cursor: pointer;
}

/* ----------------------------------------Footer */

footer {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fafafa;
    min-height: 120px;
    margin: 0;
    text-align: center;
}

.cv-pdf i {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #1ebba3;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #1ebba3;
}

#footer-details {
    padding: 20px;
}


/*============ BOOTSTRAP BREAK POINTS:

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

@media screen and (max-width: 600px) {
  div.background {
    font-size: 30px;
  }
}
=============*/